body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(12, 12, 12) 0%, rgb(30, 26, 26) 99.4%);
    flex-direction: column;

}
    
h5 {
    position: absolute;
    top: 0px;
    color: slategray;
    font-size: larger;
    
}

#loginForm {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius:3px;
    background-color: #262626;
    border: 1px solid gold;
}

label {
    font-weight: bold;
    color: white;
    font-size: smaller;
    font-weight: 500;
}

input {
    width: 93%;
    background-color: black;
    color: white;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
}
input:hover{
    border: 3px solid rgb(255, 255, 255);
    transition: 0.1s;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
 
button:hover {
    border: 2px solid white;
    color: black;
    background-color: white;
    transition: 0.4s ease-in;
} 

video {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.helpTools{
    position: fixed;
    bottom: 0;  
    align-items: center;
    display: flex;
    width: 100%;
    flex-grow: 3;
}
.helpTools a{
    width: 100%;
}
#Linkkk{
    color: white;
    font-weight: lighter;
}
#Linkkk a:visited{
    color: red;
}
